.field-wrapper {
  .qm-field {
    width: 100%;
    border-radius: 3px;
    cursor: text;
    text-align: left;
    vertical-align: middle;
    padding: 5px 10px;
    box-sizing: border-box;
    &:focus {
        outline: none;
        box-shadow: none;
    }
  }
}